
/* Stark */

.cpov .povarya {		background: #586c41; } /* Forest green */
.cpov .povcatelyn {		background: #2e3c99 ; } /* Blue */
.cpov .povsansa {		background: #5b3b6b  ; } /* Purple */
.cpov .povbran {		background: #479645; } /* Green */
.cpov .poveddard {		background: #5e7b9c; } /* Sky blue */

.cpov .povbrienne {		background: #485ba5; } /* Sapphire Blue */

/* Night's Watch */

.cpov .povjon {			background: #333; } /* Dark grey */
.cpov .povsamwell {		background: #c39782 ; } /* Tan */

/* Lannister */

.cpov .povtyrion {		background: #735040; } /* Brown */
.cpov .povjaime {		background: #d97a25; } /* Orange */
.cpov .povcersei {		background: #e6a32a; } /* Orange-Yellow */
.cpov .povkevan {		background: #666; } /* "Minor character grey" */

/* Stannis */

.cpov .povdavos {		background: #0087a6; } /* Cyan */
.cpov .povmelisandre {	background: #c25462; } /* Other red */

/* Targ */

.cpov .povdaenerys {	background: #b12c38 ; } /* Red */
.cpov .povbarristan {	background: #761d25 ; } /* Dany's color * 2/3 */

/* Greyjoy */

.cpov .povtheon {		background: #bb5294; } /* Bolton Pink */
.cpov .povvictarion {	background: #666; } /* "Minor character grey" */
.cpov .povaeron {		background: #666; } /* "Minor character grey" */
.cpov .povasha {		background: #666; } /* "Minor character grey" */

/* Martell */

.cpov .povarys {		background: #eec81b ; } /* Yellow */
.cpov .povquentyn {		background: #eec81b ; } /* Yellow */
.cpov .povarianne {		background: #eec81b ; } /* Yellow */
.cpov .povareo {		background: #eec81b ; } /* Yellow */


