
.spoiler_b6 .b6 .cni { visibility: hidden; }
.spoiler_b6 .b6 .cni.nonrotate { visibility: visible; }
.spoiler_notonshow .ho { visibility: hidden; }

.seas5unaired .eptitleinside { visibility: hidden; }
