/* ***** General table stuff ***** */

table {
	border-collapse: collapse;
	border: none;
}

td,th {
	height: 12px;	
	padding: 0px;
	margin: 0px;
	border: 1px solid #aaa;
	background-color: #fff;
	vertical-align: middle;
}

th.s,td.s,tr.s {
	background-color: #e6e6e6;
}

.cornerboxdiv {
	width: 250px;
	height: 102px;
	font-size: 14px;
	line-height: 25px;
}

th.cornerbox {
	border: 0px;
	background-color: #bbb;
}

th.hidden,td.hidden {
	border: 0px;
	background-color: #bbb;
}

thead {
	display: table-header-group;
}

/* ***** Floating table ***** */

#floatingtable {
	float: left;
}

#maintable {
	position: relative;
	left: -1px; /* This value gets changed by js when you change float left columns setting */
}

/* ***** Book Titles ***** */

/* see coloring.css for book title coloring */

tr.booktitlerow {
	height: 26px;
}

th.booktitle {
	height: 26px;
}

/* ***** Chapter Titles ***** */

.cn {
	font-size: 9px;
	text-align: left;
}

th.cn {
	padding: 0px;
}

.cni {
	height: 74px; /* needs to be ~110px if not abbreviating chapter names */
	width: 10px;
}

.cni.nonrotate {
	height: auto;
	margin-top: auto;
	text-align: center;
}

.cnr {
	position: relative;
	right: -1px;
	top: 74px; /* needs to be ~110px if not abbreviating chapter names */

	white-space: nowrap;

	-webkit-transform: rotate(270deg);
	   -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	     -o-transform: rotate(270deg);
	        transform: rotate(270deg);

	-webkit-transform-origin: top left;
	   -moz-transform-origin: top left;
	    -ms-transform-origin: top left;
	     -o-transform-origin: top left;
	        transform-origin: top left;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	
}

/* ***** Season Headers ***** */

/* see coloring.css for season title coloring */

/* ***** Episode Headers ***** */

.epnum {
	font-size: 10px;
	width: 15px;
}

.eptitle {
	font-size: 10px;
	width: 200px;
	text-align: left;
}

.eptitleinside {
	height: 12px;
}

/* ***** Rows & cells ***** */

th.seasontitle, th.booktitle {
	border: 1px solid #000;
}

th.booktitle {
	cursor: pointer;
}

td.lastcolofbook, th.lastcolofbook {
	border-right: 1px solid #000;
}

td.rb, th.rb { border-right:  1px solid #000; }
td.bb, th.bb { border-bottom: 1px solid #000; }
td.tb, th.tb { border-top:    1px solid #000; }
td.lb, th.lb { border-left:   1px solid #000; }

/* Default values for connections */

.c {
	position: relative;
	background-color: #000;
	height: 12px;
	width: 100%;
}

.wc {
	margin: auto;
	height: 8px;
	width: 8px;
	border-radius: 50%;
}

/* ***** Visibility ***** */

/* Hide collapsed sections */
.b1c { display: none; }
.b2c { display: none; }
.b3c { display: none; }
.b4c { display: none; }
.b5c { display: none; }
.b6c { display: none; }

/* AFFC/ADWD combined section - hidden by default*/
.b45c { display: none; }
.b45 { display: none; }

/* Un-aired titles - hidden by default */
.seas5unaired .eptitleinside { visibility: hidden; }
